<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">

    <a class="navbar-brand fw-bold" routerLink="/">
        Mokatta
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/auth">Account</a>
            </li>

        </ul>
    </div>

</nav>