<div class="p-3">

    <span class="fs-4 fw-bold mb-3 d-block">Menú</span>

    <ul class="nav nav-pills flex-column gap-2">

        <li>
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                Dashboard
            </a>
        </li>

        <li>
            <a routerLink="/products" routerLinkActive="active" class="nav-link">
                Products
            </a>
        </li>

        <li>
            <a routerLink="/inventory" routerLinkActive="active" class="nav-link">
                Inventory
            </a>
        </li>

        <li>
            <a routerLink="/order-pos" routerLinkActive="active" class="nav-link">
                Order
            </a>
        </li>

    </ul>

</div>